extends ../../templates/layout

block vars
  - var title = 'demo'
  - var description = 'demo'

block content

  h1
    .subtitle Imaginary Smart Exhibits
    | Swarm Dynamics

  .canvas

  h1(style="bottom: 0") Visit http://ic16.mathigon.org/swarm to join!
